{% extends "base.html" %}

{% block body %}
<h3></h3>
<textarea id="input" style="width: 94%; height: 450px; margin: 0 auto">
</textarea>
<div id="conflict" style="display: none">
  <span>New server update!</span>
  <button name="apply-server">Use server version</button>
  <button name="apply-local">Use local version</button>
</div>
<script>
  window.onload = function() {
    socketex.init({
      serverUrl: null,
      slug: "{{ slug }}",
      inputSelector: "#input",
      conflictElementSelector: "#conflict"
    });
  };
</script>
<script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
<script src="{{ url_for('static', filename='js/socketex.js') }}"></script>
{% endblock %}